@* @using Newtonsoft.Json.Linq *@
@using Hike.Models;


@model List<Trail>


<form asp-controller="Trail" asp-action="Index" method="get">
    <p> 
        Trail: <input type="text" name="Id">
        <input type = "submit" value="Search"/>
    </p>
</form>




@foreach (var a in Model)
{
    <table class= "table">
        <thread>
            <tr>
                <th>
                    <div class="col-2; inline-block">
                        <img src="@a.ImgSqSmall" /><h4>
                            <a asp-action="ShowTrail" asp-controller="trail" asp-route-id="@a.Id">@a.Name </a>
                            <small> @for(int i = 0; i<Math.Round(a.Stars); i++){
                            <span>&#x2b50</span>
                        }</small> </h4>         
                    </div>
                    <div class="col-10">
                        <h5>@a.Location </h5>
                        <p>Difficulty: @a.Difficulty   Length: @a.Length</p>
                    </div>
                </th>
            <tr>
        </thread>
    </table>
}
@* <hr /> *@


